.notificacion {
    position: fixed;
    top: 20px; /* Distancia desde la parte superior */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar */
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 1000;
    transition: opacity 0.5s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra general */
}

.notificacion.success {
    background-color: white; /* Fondo blanco para éxito */
    color: black; /* Texto negro */
    box-shadow: 0 4px 20px rgba(0, 255, 0, 0.5); /* Sombra verde para éxito */
}

.notificacion.error {
    background-color: white; /* Fondo blanco para error */
    color: black; /* Texto negro */
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.5); /* Sombra roja para error */
}
